{{ define "main" }}
    <main aria-role="main">
        <div align="center">
            <h1>{{ .Site.Title }}</h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            <img src="/img/logo/nornir_green.png" alt="nornir logo" height=400px>
        </div>

        <div class="post post-content">
            <hr>

            <div>
              <h2>Nornir</h2>

              <a href="https://github.com/nornir-automation/nornir/">[Github]</a> <a href="https://nornir.readthedocs.io">[Documentation]</a> <a href="https://nornir.discourse.group/">[Help]</a>

              <p>
              Nornir is a pure Python automation framework intented to be used directly from Python. While most automation frameworks use their own Domain Specific Language (DSL) which you use to describe what you want to have done, Nornir lets you control everything from Python.
              </p>
            </div>

            <hr>

            <div>
              <h2>Gornir</h2>
              <a href="https://github.com/nornir-automation/gornir/">[Github]</a> <a href="https://pkg.go.dev/github.com/nornir-automation/gornir">[Documentation]</a> <a href="https://nornir.discourse.group/">[Help]</a>

              <p>
              Gornir is a pluggable framework with inventory management to help operate collections of devices. It's similar to nornir but in golang.
              </p>
            </div>

            <hr>

            <div>

              <h2>Third party projects</h2>

              Feel free to check out some cool third party projects by inspecting the tag <a href="/tags/external-projects/">external projects</a>.
            </div>

            <hr>
        </div>
    </main>
{{ end }}
